body {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: rgb(236, 236, 209);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
section {
  padding-top: 30px;
  padding-bottom: 30px;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

/* -------------------------MOBILE-------------------------- */
/* ------------------------- HEADER ------------------------ */

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px 0 15px;
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  padding-top: 36px;
  padding-bottom: 36px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(119, 197, 119);
  margin-top: 6px;
}

.header-text {
  font-weight: 400;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  padding-top: 14px;
  margin-left: auto;
  margin-right: auto;
}

.header-icon {
  display: flex;
  gap: 28px;
  padding-top: 18px;
}

/* ---------------------------------------------------------------------------------- */

/* -------------------------------------MAIN-SECTION-1--------------------------------*/

@media screen and (min-width: 320px) {
}

.main-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-menu-item {
  display: inline;
  align-content: center;
  padding-top: 18px;
  padding-bottom: 12px;
}

.main-menu-link {
  font-size: 22px;
  font-weight: 600;
  color: black;
}

.main-menu-link:hover,
.main-menu-link:focus {
  color: rgb(119, 197, 119);
}

/* -------------------------------------TABLET---------------------------------- */
@media screen and (min-width: 768px) {
  .main-menu-list {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }
}

/* ------------------------------------------------------------------------------ */

/* -------------------------------------DESKTOP---------------------------------- */

@media screen and (min-width: 1158px) {
  .main-menu-list {
    display: flex;
    gap: 106px;
    align-items: center;
    justify-content: center;
  }
}
/* ------------------------------------------------------------------------------ */
